{% extends 'base.html' %} 
{% block room %}
<div class="message-box">
    <div class="message-box-in">
  <h2>Chat Room: {{code}}</h2>
  <div class="messages" id="messages"></div>
  <div class="inputs">
    <input
      type="text"
      rows="3"
      placeholder="Message"
      name="message"
      id="message"
    />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">
      Send
    </button>
</div>
  </div>
</div>
<script type="text/javascript">
  var socketio = io();
  // var socketio = io('https://chatapp-prod2.onrender.com');

  const messages = document.getElementById("messages");

  const createMessage = (name, msg, fullName) => {
  const date = new Date();
  const hours = date.getHours();   // Get the current hour (0-23)
  const minutes = date.getMinutes(); // Get the current minutes (0-59)

  const formattedTime = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;
    const nameClass = fullName === "{{fullName}}" ? 'myName' : '';
    const content = `
    <div class="text">
        <span class="${nameClass}">
            <strong >${name}</strong>: ${msg}
        </span>
        <span class="muted">
            ,${formattedTime}
        </span>
    </div>`;
    messages.innerHTML += content;
  };

  // connecting enter key down with send btn
  inputField = document.getElementById("message")
  inputField.addEventListener('keydown', ()=>{
    if (event.key === 'Enter') {
        sendMessage();
  }
  })
  

  socketio.on("message", (data) => {
    createMessage(data.name, data.message, data.fullName);
  });

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value == "") return;
    socketio.emit("message", { data: message.value });
    message.value = "";
  };
</script>
{% for msg in messages %}
 <script type="text/javascript">
  createMessage("{{msg.name}}", "{{msg.message}}", "{{msg.fullName}}");
 </script>
{% endfor %} {% endblock %}